h1#sign-in {
    background-color: rgb(29, 96, 155);
  }
  
  div.st-emotion-cache-1qvpjdy.erw9t6i1 {
    border-radius: 2px solid yellow;
    color: white;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: system-ui;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
  }
  
  div#stMarkdownContainer, h1 {
    font-family: cursive;
  }

  div.main.st-emotion-cache-bm2z3a.ea3mdgi8{
    background-color: salmon;
  }